<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!-- hoja de stylos bootstrap -->
  <link type="text/css" rel="stylesheet" href="../vendors/materialize/css/materialize.min.css"/>
  <!-- hoja de stylo css -->
  <link rel="stylesheet" href="../css/flexboxgrid.min.css">
  <link rel="stylesheet" type="text/css" href="../css/main.css">
  <title>Red Social LEDTS</title>
</head>
<body class="bg-login">
  <article class="vh100">
    <div class="container">
      <div class="row">
        <div class="col s12 col m6 hide-on-small-only">
          <br> <br> <br>  
          <p class="container-flex-column info-login">LEDTS es una Red Social, para Poetas, Escritores/Escritoras, Amantes de la Poesia y al Público en General.</p>
          <p class="container-flex-column info-login">En ella, podemos encontrar post de otros poetas, podemos tener amigos, podemos observar grupos, podemos publicar fotos, textos, entre muchas cositas más.</p>
          <p class="container-flex-column info-login">Así que para Poder Descubrir, todas sus funciones, No Olvides Unirte a esta linda familia , es decir, Registrandote, Te esperamos. ;).</p>
        </div>
        <div class="col s12 offset-s1 col m6">
          <!-- formulario de inicio de sesion -->
          <form class="form">
            <div class="center-align">
              <img class="img-logo responsive-img" src="../assets/images/imageonline-co-transparentimage.png" alt="logo">
            </div>
            <p id="publicacion" class="center-align info-login">INICIAR SESION</p>
            <div class="input-field ">
              <input  id="email" type="text" class="validate">
              <label>Correo Electronico</label>
            </div>
            <div class="input-field">
              <input id="password" type="password" class="validate">
              <label>Password</label>
            </div>
            <a href="home.html" id="btnLogIn" class="waves-effect waves-light btn  grey">Iniciar Sesion</a>
            <a href="registrate.html" id="Register" class="waves-effect waves-light btn grey">Registrarse</a>
            <p>
              <input type="checkbox" class="filled-in" id="filled-in-box" />
              <label for="filled-in-box"><a href="#">No cerrar sesion</a></label>
            </p>
            <a href="soluciones.html">¿Tienes problemas para iniciar sesión?</a>
            <div id="container">
            </div>
          </form>
        </div>
     </div>
    </div>
  </article>
  <script type="text/javascript" src="../vendors/jquery/jquery-3.2.1.min.js"></script>
  <script type="text/javascript" src="../vendors/materialize/js/materialize.min.js"></script>
  <script src="https://www.gstatic.com/firebasejs/4.8.1/firebase.js"></script>
  <script type="text/javascript" src="../js/data.js">

  </script>
  <script type="text/javascript" src="../js/app.js"></script>
</body>
</html>
