<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LEDTS</title>
</head>
<body>
<br> <br> <br>
<h1><center><strong>¿Tienes problemas para iniciar sesión?</strong></center></h1>
<ul>
<br> <br>
<center>No te Preocupes, Puedes Comunicarte  al Siguiente Correo: LEDTS@gmail.com , para poder ayudarte. :)</center>
</ul>
<br> <br> 
<center>  <img src="https://i.pinimg.com/originals/fe/ab/61/feab615c6d8925e11c0090fa21e78404.gif"  </center>
<br> <br> <br><center><center></center> 
<center><a href="iniciarSesion.html" id="Volver" class="waves-effect waves-light btn grey">Dale Click a este Botón, para volver al Inicio de Sesión</a></center>
<source>
</body>
</html>